/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/12/2014, 01:07:10 AM
    Author     : ARMAND
*/

.imagencatego
{
    display: block;
    height: 100px;
    width: 100px;
}
.imagencatego img
{
    height: 100%;
    width: 100%;
}

